<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Регистрация пользователя</title>
</head>
<body>
<h2>Регистрация пользователя</h2>
<form action="/users/registration" th:object="${userDTO}" method="post">
    <div>
        <label for="login">Логин:</label>
        <input type="text" id="login" name="login" th:value="*{login}" />
    </div>
    <div>
        <label for="password">Пароль:</label>
        <input type="password" id="password" name="password" th:value="*{password}" />
    </div>
    <div>
        <label for="FIO">FIO:</label>
        <input type="text" id="FIO" name="FIO" th:value="*{FIO}" />
    </div>
    <div>
        <label for="grades">grades:</label>
        <input type="text" id="grades" name="grades" th:value="*{grades}" />
    </div>
    <div>
        <label for="attendance">attendance:</label>
        <input type="text" id="attendance" name="attendance" th:value="*{attendance}" />
    </div>
    <div>
        <label for="comments">comments:</label>
        <input type="text" id="comments" name="comments" th:value="*{comments}" />
    </div>

    <div>
        <label for="group">Группа:</label>
        <select id="group" name="group.id">
            <option value="" th:each="group : ${groups}" th:value="${group.id}" th:text="${group.name}">Группа</option>
        </select>
    </div>

    <div>
        <label for="role">Роль:</label>
        <select id="role" name="role.id">
            <option value="" th:each="role : ${roles}" th:value="${role.id}" th:text="${role.name}">Роль</option>
        </select>
    </div>

    <div>
        <label for="subject">Предмет:</label>
        <select id="subject" name="subject.id">
            <option value="" th:each="subject : ${subjects}" th:value="${subject.id}" th:text="${subject.name}">Предмет</option>
        </select>
    </div>

    <div>
        <button type="submit">Зарегистрироваться</button>
    </div>
</form>
</body>
</html>
